body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: left;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-weight: 200;
  font-size: 2em;
  margin: 0 0 0.1em 0;
  text-align: center;
}

h2 {
  font-weight: 200;
  font-size: 1.2em;
  margin: 0 0 50px;
  text-align: center;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
  text-align: center;
}

canvas {
  margin-bottom: 20px;
}
